.sidebar{
  width: 260px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 30px;
  background-color: #3D639D;
  border-top-right-radius: 30px;
}

.icon{
  height: 32px;
  width: 86%;
  margin: 16px;
  background: rgba(204, 128, 128, 0.964);

}